* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}

:root {
  --body-color: #fff;
  --nav-color: #1876f2;
  --bg-color: rgba(203, 203, 203, 0.2);
  --pen-color: #cbced1;
  --p-color: #333;
}

.dark-theme {
  --body-color: #171717;
  --nav-color: #1f1c2c;
  --bg-color: #1f1c2c;
  --pen-color: rgba(255, 255, 255, 0.1);
  --p-color: #fff;
}

body {
  background: var(--body-color);
  transition: background 0.3s;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--nav-color);
  padding: 5px 5%;
  margin: 10px 10px;
  border-radius: 10px;
  position: sticky;
  top: 15px;
  z-index: 100;
}

.logo {
  width: 10rem;
  margin-right: 3vw;
}

.left-nv,
.right-nv {
  display: flex;
  align-items: center;
}

.right-nv {
  margin-right: 30px;
}

/* .logo {
    width: 1.5vw;
} */

.left-nv ul li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

.left-nv ul li img {
  width: 1.5rem;
}

.text-box {
  color: #fff;
}

.text-box h1 {
  font-family: "Uncial Antiqua", Times, serif;
  transform: translateX(-40vw);
  color: transparent;
  font-size: 2rem;
  -webkit-text-stroke: 1px #fff;
  background: url(./socialbook_img/back.png);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
}

@keyframes back {
  100% {
    background-position: 4000px 450px;
  }
}

.nav-user-icon {
  cursor: pointer;
}

.right-nv img {
  width: 1.5vw;
  border-radius: 50%;
  border: 2px solid #efefef;
}

.search-bar {
  display: inline-block;
  margin-right: 100px;
  display: flex;
  align-content: center;
  justify-content: center;
  position: sticky;
  top: 6vh;
  z-index: 100;
}

#search-icon {
  position: absolute;
  color: var(--p-color);
  transform: translateX(-280px) translateY(32px);
  z-index: 100;
}

.search-bar input {
  border-radius: 5px;
  background: var(--bg-color);
  font-weight: 700;
  color: var(--p-color);
  width: 40%;
  height: 4vh;
  border: none;
  text-align: center;
  transform: translateX(50px) translateY(20px);
  box-shadow: 0 1px 10px -1px var(--pen-color);
}

.online {
  position: relative;
}

.online::after {
  content: "";
  background-color: rgb(0, 235, 0);
  border: 2px solid #fff;
  width: 7px;
  height: 7px;
  position: absolute;
  border-radius: 50%;
  top: 0;
  right: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 13px 5%;
}

.left-sidebar {
  flex-basis: 25%;
  position: sticky;
  top: 140px;
  align-self: flex-start;
  padding: 20px;
  transform: translateX(-20px) translateY(-50px);
  background: var(--bg-color);
}

.right-sidebar {
  background: var(--bg-color);
  flex-basis: 25%;
  position: sticky;
  top: 140px;
  align-self: flex-start;
  padding: 20px;
  border-radius: 8px;
  transform: translateX(20px) translateY(-50px);
  box-shadow: 0 1px 10px -1px var(--pen-color);
}

.imp-links a,
.shortcut-links a {
  display: flex;
  text-align: center;
  text-decoration: none;
  margin-bottom: 40px;
  color: #626262;
  width: fit-content;
}

.imp-links a img {
  width: 20px;
  margin-right: 15px;
}

.imp-links a:last-child {
  color: rgb(24, 118, 242);
}

.shortcut-links a img {
  display: flex;
  width: 2.5vw;
  border-radius: 3px;
  margin-right: 15px;
  transform: translateY(-14px);
}

.shortcut-links p {
  margin: 25px 0;
  color: #626262;
  font-weight: 500;
}

.sidebar-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.sidebar-title h4 {
  font-weight: 550;
  font-size: 1rem;
  color: var(--p-color);
}

.sidebar-title a {
  text-decoration: none;
  color: #1876f2;
  font-size: 0.8rem;
}

.events {
  display: flex;
  font-size: 14px;
  margin-bottom: 20px;
}

.left-event {
  border-radius: 10px;
  height: 62px;
  width: 65px;
  margin-right: 15px;
  color: var(--p-color);
  padding-top: 10px;
  overflow: hidden;
  text-align: center;
  position: relative;
  box-shadow: 0 0 5px var(--pen-color);
}

.right-event {
  margin: 5px;
  color: var(--p-color);
}

.right-event h4 {
  font-weight: 550;
}

.events p {
  font-size: 0.8rem;
}

.events a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #1876f2;
}

.left-event span {
  position: absolute;
  bottom: 0;
  padding: 3px 0;
  left: 0;
  width: 100%;
  background: var(--nav-color);
  color: #fff;
  font-size: 0.95rem;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
}

.sidebar-ads {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
}

.main-content {
  flex-basis: 47%;
  margin-top: 40px;
}

.online-list {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.online-list .online img {
  width: 40px;
  border-radius: 50%;
  border: 0.5px solid #fff;
  box-shadow: 0 1px 10px -1px var(--pen-color);
}

.online-list p {
  font-size: 0.8rem;
  margin-left: 10px;
  color: var(--p-color);
}

.online-list .online::after {
  top: unset;
  bottom: 5px;
}

.story-gallary {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.story {
  flex-basis: 16%;
  padding-top: 30%;
  position: relative;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.story img {
  position: absolute;
  width: 45px;
  border-radius: 50%;
  top: 10px;
  left: 10px;
  border: 5px solid #1876f2;
}

.story p {
  position: absolute;
  bottom: 10px;
  font-size: 12px;
  color: #fff;
  font-weight: 550;
  left: 38px;
  text-align: center;
}

.story1 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.3)),
    url(./socialbook_img/status-1.png);
  box-shadow: 0 1px 10px -1px var(--pen-color);
}

.story2 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.3)),
    url(./socialbook_img/status-2.png);
  box-shadow: 0 1px 10px -1px var(--pen-color);
}

.story3 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.3)),
    url(./socialbook_img/status-3.png);
  box-shadow: 0 1px 10px -1px var(--pen-color);
}

.story4 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.3)),
    url(./socialbook_img/status-4.png);
  box-shadow: 0 1px 10px -1px var(--pen-color);
}

.story5 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.3)),
    url(./socialbook_img/status-5.png);
  box-shadow: 0 1px 10px -1px var(--pen-color);
}

.story.story1 img {
  top: unset;
  bottom: 40px;
  left: 35%;
  border: 0;
  width: 40px;
}

.write-post-container {
  width: 95%;
  background: var(--bg-color);
  border-radius: 6px;
  padding: 20px;
  color: var(--p-color);
  box-shadow: 0 1px 10px -1px var(--pen-color);
}

.user-profile {
  display: flex;
  align-items: center;
}

.user-profile img {
  width: 45px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-profile p {
  font-weight: 500;
  color: #626262;
}

.user-profile small {
  font-size: 12px;
}

.post-input-container {
  padding-left: 55px;
  padding-top: 20px;
}

.post-input-container textarea {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: 0;
  color: var(--p-color);
  resize: none;
  border-bottom: 2px solid #fff;
}

.add-post-link {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.add-post-link img {
  width: 10%;
  margin-right: 10px;
}

.add-post-link a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #626262;
  font-size: 13px;
}

.post-container {
  width: 95%;
  background: var(--bg-color);
  border-radius: 6px;
  padding: 20px;
  color: #626262;
  margin: 20px 0;
  box-shadow: 0 1px 10px -1px var(--pen-color);
}

.user-profile p {
  color: var(--p-color);
}

.user-profile span {
  font-size: 13px;
  color: #626262;
}

.post-content {
  margin-top: 20px;
  color: var(--p-color);
}

.user-profile p span i {
  color: red;
  transform: scale(1.3);
}

.post-content a {
  color: #1876f2;
  text-decoration: none;
}

.post-img {
  width: 95%;
  border-radius: 4px;
  margin: 9px 0;
  box-shadow: 0 1px 10px -1px var(--pen-color);
}

.post-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.activity-icon div img {
  width: 18px;
  margin-right: 10px;
}

.activity-icon div {
  display: inline-flex;
  align-items: center;
  margin-right: 30px;
  justify-content: space-between;
}

.post-profile-icon {
  display: flex;
  transform: translateX(-40px);
}

.post-profile-icon img {
  width: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.load-more {
  display: block;
  margin: auto;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #9a9a9a;
  color: #626262;
  border-radius: 4px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: #626262;
  margin: 5px;
}

.setting-menu {
  position: absolute;
  width: 90%;
  max-width: 350px;
  background-color: var(--body-color);
  box-shadow: 0 1px 10px -1px var(--pen-color);

  border-radius: 4px;
  overflow: hidden;
  top: 108%;
  right: 5%;
  max-height: 0;
  transition: max-height 0.3s;
}

.setting-menu-height {
  max-height: 450px;
}

.setting-menu-inner {
  padding: 20px;
}

.user-profile a {
  font-size: 10px;
  color: #1876f2;
  text-decoration: none;
}

.setting-links {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.setting-links .setting-icon {
  width: 38px;
  margin-right: 10px;
  border-radius: 50%;
}

.setting-links a {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #626262;
}

#dark-btn {
  position: absolute;
  top: 14px;
  right: 20px;
  background: rgba(203, 203, 203, 0.2);
  cursor: pointer;
  padding: 3px 2px;
  width: 38px;
  border-radius: 15px;
  display: flex;
}

#dark-btn-span {
  width: 15px;
  height: 15px;
  background: var(--pen-color);
  border-radius: 50%;
  display: inline-block;
  transition: margin 0.5s, background 0.5s;
}

#dark-btn-span.dark-btn-on {
  margin-left: 20px;
  background: #fff;
}
